@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
.my-class {
  @apply bg-gray-50 text-gray-900;
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}